<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mobset.system.dao.CahgJobDao" >
	<!-- 首页工作督办列表 -->
	<select id="indexJobList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select
			job_id,title,content, date_format(create_user_date,'%Y-%m-%d %H:%i:%s')  create_date,status,
			date_format(end_time,'%Y-%m-%d %H:%i:%s')  end_time ,date_format(create_user_date,'%m-%d')  create_date_show
		from
			cahg_job
		WHERE status in (0,1)
		ORDER BY create_date DESC  
			limit 0,6
	</select>
	
	<!-- 工作督办内容展示 -->
	<select id="jobDetailsShow" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select
			title,content,
			date_format(create_user_date,'%Y-%m-%d %H:%i:%s') create_date,file_name,
			date_format(end_time,'%Y-%m-%d %H:%i:%s') end_time,
			status
		from
			cahg_job c
		where
			job_id = #{job_id}
	</select>
	
	<!--工作督办列表 -->
	<select id="jobList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select
			job_id, title,date_format(create_user_date,'%Y-%m-%d') create_date , 
			date_format(end_time,'%Y-%m-%d')  end_time
		from
			cahg_job
		where
			 1 = 1
		<if test="title !=null and title !=''">
			and (title like #{title} OR DATE_FORMAT(create_user_date,'%Y%m%d') like #{title})
		</if>
		<if test="status !=null and status !=''">
			and status = #{status}
		</if>
		<if test="condition!=null">
			and ${condition}
		</if>
		ORDER BY 
		    create_date DESC  
		limit
			#{page},#{rows}
	</select>
	
	<select id="count" parameterType="java.util.HashMap" resultType="Integer">
		select
			count(*)
		from
			cahg_job
		where
			 1 = 1
		<if test="title !=null and title !=''">
			and (title like #{title} OR DATE_FORMAT(create_user_date,'%Y%m%d') like #{title})
		</if>
		<if test="status !=null and status !=''">
			and status = #{status}
		</if>
		<if test="condition!=null">
			and ${condition}
		</if>
	</select>
	
	<select id="detailList" parameterType="Integer" resultType="java.util.HashMap">
		select
			d.*,u.username, j.`status`
		from
			cahg_job_detail d,
			sys_user u ,
			cahg_job j
		where
			 d.job_id = #{job_id}
		and d.create_user_id = u.user_id
		and j.job_id = d.job_id
	</select>
	
	<select id = "queryJobResult" resultType = "java.util.Map" parameterType="java.util.Map">
	 	select r.*,d.name as deptName from cahg_job_result r
	 	INNER JOIN sys_dept d on r.dept_id = d.dept_id
	 	where 1 = 1 
	 	<if test = "jobId != null and jobId != ''">
	 		and r.job_id = #{jobId}
	 	</if>
	 	ORDER BY r.create_time DESC
	 </select>
	
	<insert id="saveJobResult" parameterType="java.util.Map">
	  insert into cahg_job_result
	  (
	  job_id,
	  user_name,
	  dept_id,
	  content,
	  create_time
	  ) 
	  values(
	  #{jobId},
	  #{userName},
	  #{deptId},
	  #{content},
	  sysdate()	  
	  )
	</insert>
	
	<update id="updateJobStatus" parameterType="java.util.Map">
		update cahg_job set status = #{status} where job_id = #{jobId}
	</update>
</mapper>